<!DOCTYPE html>
<html>
    <head>
        <title>Let's play a game!</title>  
    </head>

    <body>
        <form action="/madlib">
            <label for="person-input">Enter a person</label>
            <input id="person-input" type="text" name="person-madlib">

            <p>
                Select a color:
                <p>
                    <input id="color-red" type="radio" name="color-madlib" value="red">
                    <label for="color-red">red</label>
                </p>

                <p>
                    <input id="color-orange" type="radio" name="color-madlib" value="orange">
                    <label for="color-orange">orange</label>
                </p>

                <p>
                    <input id="color-yellow" type="radio" name="color-madlib" value="yellow">
                    <label for="color-yellow">yellow</label>
                </p>

                <p>
                    <input id="color-green" type="radio" name="color-madlib" value="green">
                    <label for="color-green">green</label>
                </p>

                <p>
                    <input id="color-blue" type="radio" name="color-madlib" value="blue">
                    <label for="color-blue">blue</label>
                </p>

                <p>
                    <input id="color-purple" type="radio" name="color-madlib" value="purple">
                    <label for="color-purple">purple</label>
                </p>
            </p>

            <p>
                <label for="noun-input">Enter a noun</label>
                <input id="noun-input" type="text" name="noun-madlib">
            </p>

            <p>
                <lable for="adj-input">Enter adjective</lable>
                <input id="adj-input" type="input" name="adj-madlib">
            </p>
            <input type="submit">
        </form>
    </body>
</html>